
a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
}
.active-link{
    text-decoration: underline;
}
.navbar-container{
    background-color: rgba(48,48,48,255);
    display: flex;
    justify-content: space-between;
    height: 5em;
}
.href-container{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo-container{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.mat-icon{
    color: rgba(105,240,174,255);
    font-size: 4em;
    width: 55px;
    height: 55px;
}